In [27]:
import pandas as pd

In [52]:
n = int(input("Enter an integer value greater than 0: "))

even = []
odd = []
fibo = [0,1]

if n > 0:

 for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)

  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

  elif n < 0:
    print("Wrong number.")

Enter an integer value greater than 0: 4

In [53]:
odd

[1, 3, 5, 7]

In [54]:
even

[0, 2, 4, 6]

In [55]:
fibo

[0, 1, 1, 2]

In [56]:
len(even) == len(odd) == len(fibo)

True

In [ ]:
my_newlist = [(1,3,5,7), (0,2,4,6), (0,1,1,2)]
for i in range(len(my_newlist)):
  print(my_newlist[i])

(1, 3, 5, 7)
(0, 2, 4, 6)
(0, 1, 1, 2)

In [25]:
my_dict = {'odd':['1','3','5','7'],
           'even':['0','2','4','6'],
           'fibo':['0','1','1','2']}
df = pd.DataFrame(my_dict)

df1 = pd.DataFrame(my_dict, columns = ['odd','even','fibo'])
df1

  odd even fibo
0   1    0    0
1   3    2    1
2   5    4    1
3   7    6    2